<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css}" rel="stylesheet" />
	<title>Cadastro de Contatos</title>
</head>

<body>

	<!-- INSERIR O MENU NO INICIO -->
	<nav th:replace="menu :: menu"></nav>
	<div class="container col-12">

		<!-- CAIXA DE CADASTRO -->
		<!-- TABELA COM LISTAGEM DE STATUS -->
		<h3 class="mt-5">Lista de Contatos</h3>
		<table class="table table-striped table-hover table-sm mt-3">
			<thead class="table-dark opacity-75">
				<tr>
					<th scope="col" style="width:70px">ID</th>
					<th scope="col">Nome</th>
					<th scope="col">Email</th>
					<th scope="col">Telefone</th>
					<th scope="col">Empresa</th>
					<th scope="col" style="width:200px" class="text-center">Acões</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="contato :  ${listagem}">
					<th scope="row" th:text="${contato.id}"></th>
					<td th:text="${contato.nome}"></td>
					<td th:text="${contato.email}"></td>
					<td th:text="${contato.telefone}"></td>
					<td th:text="${contato.empresa.nome}"></td>
					<td class="text-center">

						<a th:href="@{/contato/deletar/{id}(id=${contato.id})}" th:onclick='return validarExclusao();'
							class="btn btn-danger btn-sm  rounded-circle">
							<i class="bi bi-x-lg"></i>
						</a>

						<a th:href="@{/contato/retorna/{id}(id=${contato.id})}"
							class="btn btn-success btn-sm  rounded-circle"><i class="bi bi-pencil"></i></a>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="row">
			<div class="mt-2">
				<a th:href="@{/contato/limpar}" class="btn btn-secondary">Novo</a>
				<a th:href="@{/contato}" class="btn btn-info">Listar</a>
			</div>
		</div>

	</div>

	<!-- INCLUDE DO RODAPE -->
	<div th:replace="menu :: rodape">
	</div>


	<script>

		function validarExclusao() {

			if (confirm("Deseja excluir o cadastro ?")) {
				return true;
			} else {
				return false;
			}

		}

	</script>


</body>

</html>