<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css}" rel="stylesheet" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pagina Modelo</title>
</head>

<body>

	<!-- INSERIR O MENU NO INICIO -->
	<nav th:replace="menu :: menu"></nav>
	<div class="container col-10">

		<!-- CAIXA DE CADASTRO -->
		<div class="shadow-lg p-5 my-3  mt-5 bg-body rounded">

			<div class="col">
				<h1>Cadastro de Empresa</h1>
			</div>
			<form method="post" th:action="@{/empresa/cadastrar}" th:object="${objeto}">

				<input type="hidden" th:field="*{id}">

				<div class="row">

					<div class="col-12">

						<label for="nome" class="form-label">Nome Empresa</label>
						<input id="nome" name="nome" required="required" type="text" class="form-control"
							th:field="*{nome}" autofocus maxlength="150" />

					</div>
				</div>
				<div class="row">
					<div class="col-2 mt-2">
						<input type="submit" value="Salvar" class="btn btn-primary w-100" />

					</div>
					<div class="col-2 mt-2">
						<a th:href="@{/empresa}" class="btn btn-secondary w-100">Limpar</a>

					</div>
				</div>

			</form>


		</div>

	</div>

	<!-- INCLUDE DO RODAPE -->
	<div th:replace="menu :: rodape">
	</div>
</body>

</html>