<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Insert title here</title>
</head>

<body>
	<!-- INSERIR O MENU NO INICIO -->
	<nav th:replace="menu :: menu"></nav>

	<!-- CAIXA DE CADASTRO -->
	<div class="container col-6">
		<div class="shadow-lg p-5 my-3  mt-5 bg-body rounded">


			INDEX

		</div>
	</div>

	<!-- INCLUDE RODAPE -->
	<div th:replace="menu :: rodape">
	</div>
</body>

</html>